@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');

/* GENERAL RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary: #00f;
  --secondary: #fff;
}
body {
  font-size: 14px;
  line-height: 30px;
  overflow-x: hidden;
}
/* GENERAL STYLES */
a {
  text-decoration: none;
  color: inherit;
}

img{
  object-fit: cover;
}

ul {
  list-style: none;
}

h1,h1,h3,h4,h5{
  margin-bottom: 1rem;
  color: #000a2f;
}

h1{
  font-size: 30px;
}

input {
  padding: 0.65rem;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

/* UTILITIY CLASSES */
.btn {
  background-color: var(--primary);
  color: #fff;
  width: max-content;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 300;
  border: 0;
  margin-top: 1rem;
}

.transparent-border {
  background-color: #fff;
  color: var(--primary);
  width: max-content;
  padding: 16px 18px;
  border-radius: 4px;
  font-weight: 300;
  margin-top: 1rem !important;

  border: 1px solid var(--primary);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.text-primary{
  color: var(--primary);
}
.cursor-pointer{
  cursor: pointer;
}
.uppercase{
  text-transform: uppercase;
}
.size-full {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.font-bold{
  font-weight: bolder;
}
/* NAVS */
header {
  background-color: var(--primary);
  width: 100%;
  height: 35px;
  color: #fff;
  padding: 5px 0;
}
header .container {
  align-items: center;
}
.logo {
  width: 50px;
  aspect-ratio: 1/1;
}

.nav {
  background: #fff;
  height: 50px;
}



/* RESPONSIVENESS */
.container{
  max-width: 95%;
}


@media(max-width:500px){
  .hide-on-mobile{
    display: none;
  }

  h1{
   
    font-size: 22px !important;
  }
}